<html>
    <head>
        <title>Natalia's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Natalia's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.05.2020, 18:35</p>
            <h2><a href="">My first post</a></h2>
            <p>Django, <em> django </em>, django.</p>
        </div>

        <div>
            <p>published: 14.05.2020, 18:37</p>
            <h2><a href="">My second post</a></h2>
            <p>. lalalalalalalal</p>
        </div>
    </body>
</html>